---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import { render } from "astro:content";
import TableOfContents from "../../components/TableOfContents.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blogPosts");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blogPosts">;

const post = Astro.props;
const { Content, headings } = await render(post);
---

<BlogPost {...post.data}>
  <!-- Table of Contents at the top -->
  <TableOfContents headings={headings} />
  <div class="flex flex-col lg:flex-row items-start gap-8">
    <div class="flex-1 min-w-0">
      <div
        class="prose dark:prose-invert text-lg prose-h1:font-bold prose-h1:text-xl prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl"
      >
        <Content />
      </div>
    </div>
  </div>
</BlogPost>
