---
const { repoUrls } = Astro.props as { repoUrls: string[] };
import RepoCard from "./RepoCard.jsx";
---

{
  repoUrls.length === 0 ? (
    <p class="text-center text-gray-500 px-4 text-lg sm:text-xl lg:text-base">
      No repositories found.
    </p>
  ) : (
    <ul class="mx-auto grid grid-cols-1 w-full gap-4 sm:gap-6 lg:max-w-none lg:grid-cols-2 lg:gap-x-8 lg:gap-y-16">
      {repoUrls.map((url, idx) =>
        url ? (
          <li key={url}>
            <RepoCard client:only="react" repoUrl={url} />
          </li>
        ) : null
      )}
    </ul>
  )
}
